/* .nav-weekly-monthly {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-weekly {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-monthly {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
} */
