{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'expenses/css/index.css' %}">
    <!-- icon links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{% endblock %}

{% block content %}
{% load humanize %}
<!-- ^ 数字桁区切り -->
<div class="expenses-body">
    <div class="expend-form">
        <form action="{% url 'expenses:create_expense' %}" method="post">
            {% csrf_token %}
            <div class="form-header">
                <input class="input-date" type="date" value="{{ today }}" name="date"  required oninvalid="this.setCustomValidity('必須項目')"  oninput="this.setCustomValidity('')" >
            </div>
            <div class="form-body">
                <div class="input-main">
                    <div class="input-field">
                        <i class="fa-solid fa-tag input-icon"></i>
                        <input class="input-area" type="text" name="title" required oninvalid="this.setCustomValidity('必須項目')"  oninput="this.setCustomValidity('')">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-yen-sign input-icon"></i>
                        <input class="input-area" type="number" name="amount" required oninvalid="this.setCustomValidity('必須項目')"  oninput="this.setCustomValidity('')" >
                    </div>
                </div>
                <div class="form-button">
                    <div class="form-button-spacer"></div>
                    <button type="submit" class="pen-button"><i class="fa-solid fa-pen"></i></button>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div class="week-calender">
        <table border="1" class="week-calender-table" style="border-collapse: collapse; overflow: hidden;" >
            <tr class="week-calender-title">
                {% for date, week_day, total in daily_amount_total %}
                    <th onclick="openModal('{{date}}')">
                        <div style="font-size: 12px;">{{ date }}</div>
                        <div style="font-size: 19px;">{{ week_day }}</div>
                    </th>
                {% empty %}
                    <td colspan="8">データがありません。</td>
                {% endfor %}
                <th onclick="openModal('{{date}}')">
                    <div style="font-size: 18px;">残り</div>
                    <!-- <div style="font-size: 19px;">{{ week_total }}</div> -->
                </th>
            </tr>
            <tr class="week-calender-value">
                {% for date, week_day, total in daily_amount_total %}
                    <!-- <td>{{ date }}</td> -->
                    <td  style="width: 100px;" onclick="openModal('{{date}}')">
                        {{ total | intcomma }}円
                    </td>
                {% empty %}
                    <td colspan="8">データがありません。</td>
                {% endfor %}
                    <td  style="width: 100px; {% if diff_amount < 0 %}color: red; {% else %}color: green; {% endif %}" onclick="openModal('{{date}}')">
                        {{ diff_amount | intcomma }}円
                    </td>
            </tr>
        </table>
    </div>

    <div class="control">
        <div class="control-return"><button onclick="getWeekData('{{ ymd_prev_sun_day }}')">
            <i class="fa-solid fa-arrow-left"></i>
            <span>({{ prev_sun_day }} 〜 {{ prev_sat_day }})</span>
        </button></div>
        <div class="control-title"><span>{{ sun_day }}</span><span>〜</span><span>{{ sat_day }}</span></div>
        <div class="control-improve"><button onclick="getWeekData('{{ ymd_next_sun_day }}')">
            <span>({{ next_sun_day }} 〜 {{ next_sat_day }})</span>
            <i class="fa-solid fa-arrow-right"></i>
        </button></div>
    </div>

    <!-- モーダル -->
    <div id="myModal" class="modal hidden"  >
        <div class="modal-content" id="modalContent">
        </div>
    </div>
</div>

<script>
    const modal = document.getElementById("myModal");
    const modalContent = document.getElementById("modalContent");
    const closeBtn = document.querySelector(".close-button");

    const expensesStr = '{{ datas | escapejs }}'
    const parsedExpenses = JSON.parse(expensesStr);
    console.log(parsedExpenses)
    let expenses = parsedExpenses.expenses

    // モーダルを開く関数
    function openModal(date) {
        if (date=="") { return }
        console.log("date", date)
        console.log("ex", expenses)
        console.log("ex-type", typeof expenses);
        // console.log("expenses", JSON.parse(ex).expenses)
        let exp = expenses[date]
        console.log("exp-type", exp)
        modalContent.innerHTML = `
            <div class="modal-content-header">
                <div class="modal-content-header-title">
                    ${date}
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>タイトル</th>
                        <th>金額</th>
                    </tr>
                </thead>
                <tbody>
                    ${exp.map((ex) => `<tr><td>${ex.title}</td><td>${ex.amount}円</td></tr>`).join("")}
                </tbody>
            </table>

            <button class="close-button" onclick="closeModal()">×</button>
        `;
        // for (d in datas) {
        //     modalContent.innerHTML
        // }

        // 閉じるボタンを再バインド
        // modalContent.querySelector(".close-button").addEventListener("click", closeModal);
        modal.classList.remove("hidden");
    }

    function closeModal() {
        modal.classList.add("hidden");
    }

    // 閉じる
    modal.addEventListener("click", () => {
        modal.classList.add("hidden");
    });
    modalContent.addEventListener("click", (e) => {
        // 親要素にイベントが伝播しないようにする
        e.stopPropagation();
    });

    // closeBtn.addEventListener("click", () => {
    //     modal.classList.add("hidden");
    // });


    // // 背景クリックで閉じる
    // window.addEventListener("click", (e) => {
    //     if (e.target === modal) {
    //         modal.classList.add("hidden");
    //     }
    // });


    async function getWeekData(date) {
        window.location.href = `?day=${date}`;
    }
</script>
{% endblock %}
