{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <div class="expend-form">
        <form action="#">
            <div class="form-header"></div>
            <div class="form-body">
                <div class="input-main">
                    <div class="input-title"></div>
                    <div class="input-number"></div>
                </div>
                <div class="form-button"></div>
            </div>
        </form>
    </div>

    <div class="week-calender">
        <div></div>
    </div>

    <div class="control">
        <div class="control-return"></div>
        <div class="control-title"></div>
        <div class="control-improve"></div>
    </div>
</div>
{% endblock %}