{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- fullcalendar -->
<!-- <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/main.min.css" rel="stylesheet"> -->
{% endblock %}

{% block content %}

<div class="monthly-calendar">
    <table class="monthly-calendar-table" border="1" style="border-collapse: collapse; overflow: hidden;">
        <tr class="monthly-calendar-header">
            <th>日</th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
        </tr>
        <tr class="monthly-calendar-body">
            {% for week in expense_monthly_amount %}
                <tr>
                    {% for day, amount in week %}
                        <td>
                            <div class="calendar-cell-day">{{ day }}</div>
                            <div class="calendar-cell-amount">{{ amount }}</div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
    </table>
</div>



<script>

    
</script>
{% endblock %}
