.setting-body {
    margin: 0 auto;
    width: 600px;
    height: 170px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-field {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
